Repository otedesco/authorization: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, prettier --write, eslint -c .eslintrc

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm run lint",
    "prettier --write"
  ],
  "**/*.json": [
    "prettier --write"
  ]
}

.lintstagedrc.json:

{
  "**/*.{js,ts}": [
    "eslint -c .eslintrc"
  ]
}

fix husky
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  src/middlewares/DeserializeAccount.ts
  tsconfig.json
Due: pnpm run lint, prettier --write, eslint -c .eslintrc

Notes added by 'git notes add'
  8fcd8c7e749c3a14d393ea35692de06304ef4f33
Due: none

release(version): Release authorization service docker image 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

feat(src): cI Release
  README.md
Due: none

Notes added by 'git notes add'
  de8bbe308f65beca9f2028a7d0aefedeeea3292e
Due: none

feat: asasa
  .cspell.json
  .czrc
  .editorconfig
  .eslintignore
  .gitattributes
  .github/workflows/lint-and-test.yml
  .github/workflows/release.yml
  .husky/prepare-commit-msg
  .lintstagedrc
  .lintstagedrc.json
  .release.config.js
  .releaserc
  CHANGELOG.md
  README.md
  docs/diagram.png
  nginx.conf
  package.json
  pnpm-lock.yaml
Due: pnpm run lint, prettier --write, eslint -c .eslintrc

feat(release fixes): release fixes
  .github/workflows/release.yml
  .release.config.js
  src/app.ts
  src/components/account/repositories/AccountRepository.ts
  src/components/account/schemas/AccountSchema.ts
  src/components/account/services/AccountService.ts
  src/components/authentication/controllers/AuthenticationController.ts
  src/components/authentication/routes/AuthenticationRoute.ts
  src/components/authentication/routes/PrivateAuthorizationRoute.ts
  src/components/authentication/schemas/AuthenticationSchema.ts
  src/components/authentication/services/AuthenticationService.ts
  src/components/authentication/validators/AuthenticationValidator.ts
  src/components/profile/services/ProfileService.ts
  src/configs/AppConfig.ts
  src/configs/DBConfig.ts
  src/configs/KafkaConfig.ts
  src/database/index.ts
  src/database/migrations/20230711135829_createEnums.ts
  src/database/migrations/20230711144701_accountTable.ts
  src/database/migrations/20230711152730_sessionsTable.ts
  src/database/migrations/20230711153806_profileTable.ts
  src/database/migrations/20230711155013_organizationTable.ts
  src/exceptions/ForbiddenException.ts
  src/exceptions/InternalServerException.ts
  src/exceptions/UnauthorizedException.ts
  src/exceptions/ValidationException.ts
  src/handlers/DatabaseErrorHandler.ts
  src/handlers/ResponseHandler.ts
  src/middlewares/DeserializeAccount.ts
  src/middlewares/ErrorHandlerMiddleware.ts
  src/middlewares/SchemaValidator.ts
Due: pnpm run lint, prettier --write, eslint -c .eslintrc

Notes added by 'git notes add'
  15e851595112d485ec28357ccd01211e6a51e9b4
Due: none

Notes added by 'git notes add'
  9ed53d4245e92aacd1f5b69813a66a68bbbd815d
Due: none

ci(release.config.js): change release process
  .cspell.json
  .eslintrc
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
  release.config.js
Due: pnpm run lint, prettier --write, eslint -c .eslintrc

Notes added by 'git notes add'
  7848074ad928833e3f5f62d72a87b414f1768474
Due: none

chore(minor): release 1.1.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

ci(githubactions): change release process
  .github/workflows/lint-and-test.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  e217edbc2b557b88f51d620e59c4df73830efbfa
Due: none

chore(patch): release 1.1.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): fix diagram link
  README.md
Due: none

Notes added by 'git notes add'
  c05000b375a94b77a14fb89e2d4ff47afaf7966b
Due: none

chore(minor): release 1.2.0-stage.1 on stage channel [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

ci(gha): change workflow dispatch parameters
  .github/workflows/release.yml
Due: none

chore(minor): release 1.2.0-develop.1 on develop channel [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  287b2fe7a8e47552e97ebd06ab875d2e5b4a1bf9
Due: none

docs(readme): change lint command docs
  README.md
Due: none

docs(readme): change lint command docs (#2)
  README.md
Due: none

ci(gha): change pull request trigger for tests
  .github/workflows/lint-and-test.yml
Due: none

chore(minor): release 1.2.0-develop.2 on develop channel [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0c75ca6669071c1e2267776969ecbb3e6b700521
Due: none

foo
  README.md
Due: none
